---
layout: default
title: Slash THD | Fournisseur de solutions cloud et réseaux
---

<!--hero section start-->
{% include home/hero.html %}
<!--hero section end--> 

<!--body content start-->
<div class="page-content">

  <!--service start-->
  {% include home/service.html %}
  <!--service end-->

  <!--testimonial start-->
  {% include home/testimonial.html %}
  <!--testimonial end-->

  <!--about start-->
  {% include home/about.html %}
  <!--about end-->
  
  <!--form start-->
  {% include home/form.html %}  
  <!--form end-->

  <!--counter start-->
  {% include home/counter.html %}
  <!--counter end-->

</div>
<!--body content end-->