<header class="site-header">
  <div id="header-wrap">
    <div class="container">
      <div class="row">
        <!--menu start-->
        <div class="col d-flex align-items-center justify-content-between">
          <a class="navbar-brand logo text-dark h2 mb-0" href="/">
            Slash<span class="text-primary font-weight-bold">Telecom.</span>
          </a>
          <nav class="navbar navbar-expand-lg navbar-light ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation %}
                  <li class="nav-item">
                    <a class="nav-link {% if page.url == item.link %}active{% endif %}" href="{{ item.link | relative_url }}">
                      {{ item.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </nav>
          <a class="btn btn-dark ml-8 d-none d-lg-block" href="#">Souscrire</a>   
        </div>
        <!--menu end-->
      </div>
    </div>
  </div>
</header>