<section class="position-relative">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row  text-center">
      <div class="col">
        <h1>À propos</h1>
        <div aria-label="breadcrumb">
          <div class="breadcrumb justify-content-center bg-transparent p-0 m-0">
            <p class="breadcrumb-item active text-primary" aria-current="page">Slash Telecom.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>