<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
    <link href="{{ '/assets/css/theme.min.css' | relative_url }}" rel="stylesheet" />

  </head>
  <body>
    <!-- page wrapper start -->
    <div class="page-wrapper">
      <!-- preloader start -->

      <div id="ht-preloader">
        <div class="loader clear-loader">
          <span></span>
          <p>Slash Telecom.</p>
        </div>
      </div>

      <!-- preloader end -->
      {% include navigationlight.html %}
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    <!-- page wrapper end -->

      <div class="scroll-top"><a class="smoothscroll" href="#top"><i class="las la-angle-up"></i></a></div>

    <!-- inject js start -->

    <script src="{{ 'assets/js/theme-plugin.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/theme-script.js' | relative_url }}"></script>

    <!-- inject js end -->
  </body>
</html>