<section>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-6 mb-8 mb-lg-0">
        <img src="assets/images/about/03.png" alt="Image" class="img-fluid">
      </div>
      <div class="col-12 col-lg-6 col-xl-5">
        <div>
          <span class="badge badge-primary-soft p-2">
              <i class="la la-network-wired ic-3x"></i>
          </span>
          <h2 class="mt-3">Nous fournissons internet là où les autres ne le font pas</h2>
          <p class="lead mb-0">De belles antennes blanches qui magnifient vos toitures.</p>
        </div>
        <a href="about" class="btn btn-outline-primary mt-5">
          Voir nos antennes
        </a>
      </div>
    </div>
  </div>
</section>