<section>
  <div class="container">
    <div class="row justify-content-center text-center mb-8">
      <div class="col-12 col-lg-6 text-left">
        <h2 class="mt-4">Foire aux questions</h2>
      </div>
      <div class="col-12 col-lg-6 text-left">
        <p class="lead mb-0">Accédez à Internet à haut débit même dans les zones non éligibles. Profitez du cloud à la Réunion pour développer vos projets personnel ou votre entreprise.</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">      
      <div class="col-12 col-lg-6 col-xl-5">
        <div id="accordion" class="accordion">
          <div class="card border-0 active mb-2">
            <div class="card-header bg-transparent border mb-0">
              <h6 class="mb-0">
              <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">Comment fonctionne la connexion Slash ?</a>
              </h6>
            </div>
            <div id="collapse1" class="collapse show" data-parent="#accordion">
              <div class="card-body text-muted">La connexion Slash fonctionne grâce à un réseau neutre et ouvert accessible par une antenne placée à l'extérieur. Ce réseau délivre des débits proche de la fibre optique et des latences faibles parfait pour du téléchargement ou du gaming.</div>
            </div>
          </div>
          <div class="card border-0 mb-2">
            <div class="card-header bg-transparent border mb-0">
              <h6 class="mb-0">
              <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Comment rejoindre le réseau ?</a>
              </h6>
            </div>
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="card-body text-muted">Vous pouvez prendre part au réseau en tant qu'adhérent et disposer d'un accès illimité à Internet. Il est aussi possible de rejoindre le réseau pour commander ou controller vos équipements à distance, surveiller votre entreprise, accéder à vos objets connectés ou travailler à distance.</div>
            </div>
          </div>
          <div class="card border-0 mb-2">
            <div class="card-header bg-transparent border mb-0">
              <h6 class="mb-0">
              <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Quel est le débit proposé ?</a>
              </h6>
            </div>
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="card-body text-muted">Les utilisateurs sont pour le moment limité à un débit maximal de 100 Mbit/s. Le réseau étant actuellement en construction, le débit maximum est amené à évoluer jusqu'à 2,5 Gbit/s.</div>
            </div>
          </div>
          <div class="card border-0 mb-5 mb-lg-0">
            <div class="card-header bg-transparent border mb-0">
              <h6 class="mb-0">
              <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse4">Est-ce sécurisé ?</a>
              </h6>
            </div>
            <div id="collapse4" class="collapse" data-parent="#accordion">
              <div class="card-body text-muted">La connexion est chiffrée en AES au travers de notre réseau et vous seul avez accès à vos communications. Selon votre besoin nous pouvons convenir d'un chiffrement plus poussé.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-8 mb-lg-0">
        <div class="row text-center">
          <div class="col-lg-6 col-md-6">
            <div class="counter bg-primary rounded p-5 shadow">
              <div class="counter-desc text-white">
                <h5>Traffic actuel</h5>
                <span class="count-number display-4" data-to="500" data-speed="2000">500</span>
                <span class="display-5">Mbit/s</span> 
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-5">
            <div class="counter bg-white rounded p-5 shadow">
              <div class="counter-desc">
                <h5>Services hébergés</h5>
                <span class="count-number display-4 text-primary" data-to="14" data-speed="2000">14</span>
                <span class="display-5 text-primary"></span> 
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
            <div class="counter bg-white rounded p-5 shadow">
              <div class="counter-desc">
                <h5>Sites réseaux</h5>
                <span class="count-number display-4 text-primary" data-to="8" data-speed="1000">8</span>
                <span class="display-4 text-primary"></span> 
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-5">
            <div class="counter bg-orange rounded p-5 shadow">
              <div class="counter-desc text-white">
                <h5>Machines virtuelles en ligne</h5>
                <span class="count-number display-4" data-to="7" data-speed="1000">7</span>
                <span class="display-4"></span> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-12 col-lg-8 mt-8">
        <div> 
          <h2 class="mt-4">Vous avez une question ? Contactez-nous</h2>
          <p class="lead mb-0">Rejoignez dès maintenant un réseau solidaire numérique pensé pour répondre aux exigences des utilisateurs locaux.</p>
          <a href="contact" class="btn btn-primary mt-5">
            Contacter
          </a>
        </div>
      </div>
    </div>
  </div>
</section>