<section class="p-0">
  <div class="container">
    <div class="row align-items-center justify-content-between">      
      <div class="col-12 col-lg-6 col-xl-5">
        <div id="accordion" class="accordion">
          <div class="card border-0 active mb-2">
            <div class="card-header bg-transparent border mb-0">
              <h6 class="mb-0">
              <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">Tu préfères placer une antenne sur ton toit</a>
              </h6>
            </div>
            <div id="collapse1" class="collapse show" data-parent="#accordion">
              <div class="card-body text-muted">Looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered Many desktop publishing packages and web page editors now use Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</div>
            </div>
          </div>
          <div class="card border-0 mb-2">
            <div class="card-header bg-transparent border mb-0">
              <h6 class="mb-0">
              <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse2">ou faire pitié avec ta connexion Free ?</a>
              </h6>
            </div>
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="card-body text-muted">Looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered Many desktop publishing packages and web page editors now use Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</div>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-header bg-transparent border mb-0">
              <h6 class="mb-0">
              <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Moi je pense la question elle est vite répondu</a>
              </h6>
            </div>
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="card-body text-muted">Looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered Many desktop publishing packages and web page editors now use Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-8 mb-lg-0">
        <div class="row text-center">
          <div class="col-lg-6 col-md-6">
            <div class="counter bg-primary rounded p-5 shadow">
              <div class="counter-desc text-white">
                <h5>Antennes posées</h5>
                <span class="count-number display-4" data-to="234" data-speed="10000">234</span>
                <span class="display-4">k</span> 
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-5">
            <div class="counter bg-white rounded p-5 shadow">
              <div class="counter-desc">
                <h5>Membres</h5>
                <span class="count-number display-4 text-primary" data-to="455" data-speed="10000">455</span>
                <span class="display-4 text-primary">k</span> 
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
            <div class="counter bg-white rounded p-5 shadow">
              <div class="counter-desc">
                <h5>Imposteurs trouvés</h5>
                <span class="count-number display-4 text-primary" data-to="365" data-speed="10000">365</span>
                <span class="display-4 text-primary">k</span> 
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-5">
            <div class="counter bg-orange rounded p-5 shadow">
              <div class="counter-desc text-white">
                <h5>Clients satisfaits</h5>
                <span class="count-number display-4" data-to="528" data-speed="10000">528</span>
                <span class="display-4">k</span> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>