<section>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-6 col-xl-6 mb-8 mb-lg-0 order-lg-1">
        <div> <span class="badge badge-primary-soft p-2">
                  <i class="la la-american-sign-language-interpreting ic-3x"></i>
              </span>
          <h2 class="mt-3">Tching tchang tching tchang</h2>
          <p class="lead mb-0">Ici, pas de tching tchang, on vous pose une antenne, et vous avez internet.</p>
        </div>
        <div class="mt-5">
          <div class="mb-3">
            <div class="d-flex align-items-center">
              <div class="badge-primary-soft rounded p-1">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </div>
              <p class="mb-0 ml-3">Regardez vos videos en 8K 120fps</p>
            </div>
          </div>
          <div class="mb-3">
            <div class="d-flex align-items-center">
              <div class="badge-primary-soft rounded p-1">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </div>
              <p class="mb-0 ml-3">2 de ping sur CSGO</p>
            </div>
          </div>
          <div>
            <div class="d-flex align-items-center">
              <div class="badge-primary-soft rounded p-1">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </div>
              <p class="mb-0 ml-3">Un troisième argument infaillible</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-5">
        <div class="shadow rounded p-5">
          <img class="img-fluid mb-8" src="assets/images/about/04.png" alt="Image">
          <form class="row" id="contact-form" method="post" action="php/contact.php">
            <div class="messages"></div>
            <div class="form-group col-sm-6">
              <label class="text-muted" for="InputName1">Prénom</label>
              <input type="text" class="form-control input-1" id="InputName1" placeholder="Prénom" required="required" data-error="Veuillez entrer votre prénom.">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-sm-6">
              <label class="text-muted" for="InputName2">Nom de famille</label>
              <input type="text" class="form-control input-1" id="InputName2" placeholder="Nom de famille" required="required" data-error="Veuillez entrer votre nom.">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-12">
              <label class="text-muted" for="InputEmail1">Adresse e-mail</label>
              <input type="email" class="form-control input-1" id="InputEmail1" placeholder="Entrer votre e-mail" required="required" data-error="Un e-mail valide est requis.">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-12">
              <label class="text-muted" for="InputPassword1">Mot de passe</label>
              <input type="password" class="form-control input-1" id="InputPassword1" placeholder="••••••••">
            </div>
            <div class="col-12 mt-5">
              <button class="btn btn-primary">Télécharger la brochure</button>
            </div>
          </form>
        </div>
      </div>      
    </div>
  </div>
</section>