<section class="custom-pt-1 custom-pb-3 bg-primary position-relative parallaxie" data-bg-img="assets/images/bg/03.png">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-5 col-xl-5 mr-auto mb-8 mb-lg-0">
        <!-- Image -->
        <img src="assets/images/world.svg" class="img-fluid" alt="...">
      </div>
      <div class="col-12 col-lg-7 col-xl-6">
        <!-- Heading -->
        <h1 class="display-5 text-white">
          Hébergeur cloud et opérateur associatif         
        </h1>
        <!-- Text -->
        <p class="lead text-light">Slash THD est une association de passionnés par les technologies de l'information. Son objectif est de contribuer à connecter les particuliers et les entreprises par un réseau numérique solidaire ouvert à tous.</p>
        <!-- Buttons -->
        <a href="about" class="btn btn-outline-light mr-1">
          Découvrir
        </a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn text-white popup-vimeo">
          <i class="la la-play-circle mr-1 ic-3x align-middle line-h-0"></i> Regarder la vidéo
        </a>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
  <div class="shape-1 bottom" style="height: 250px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
    </svg>
  </div>
</section>